
<!DOCTYPE html>

<body>
    <h2>Buy Token !!!</h2>
    <h2>Only Cost HKD 99 per one!!!</h2>
    <form action="/submit" method="POST">
       
        <h2>Enter Given Name:</h2>
        <p><input type="text" name="gname" value = 'John' /></p>
        <h2>Enter Surname:</h2>
        <p><input type="text" name="sname" value = 'Doe' /></p>
        <h2>Enter Email:</h2>
        <p><input type="text" name="email" value = 'sb-fa2bn29862044@personal.example.com' /></p>
        
        <p><input type="submit" value="submit" /></p>
    </form>
</body>
</html>